/* Header */
.header {
  height: 8rem;
  padding: 2rem 0 3rem 0;
}
.sticky {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}
.h-icon {
  display: none;
}
.header-logo-box svg {
  width: 14rem;
  height: 3rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list {
  gap: 1.7rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
  padding: 0 1rem;
  transition: all 0.2s;
  font-weight: 500;
}
.main-nav-link:hover,
.main-nav-link:active {
  /* trick */
  color: var(--dkgrayish-blue);
}

/* //////////////////////// */
/* Section Hero */
/* //////////////////////// */
.section-hero {
  margin-top: 9rem;
}

.hero {
  gap: 12rem;
  align-items: center;
  grid-template-columns: 44fr 56fr;
}
.hero-img {
  width: 100%;
}
/* //////////////////////// */
/* Section About */
/* //////////////////////// */
.section-about {
  margin: 11rem 0 15rem 0;
}
.about {
  gap: 11rem;
}
.heading-secondary {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.about-text-box p {
  font-size: 1.4rem;
}
.about-path {
  gap: 3.5rem;
}
.column-row {
  grid-template-columns: 10fr 90fr;
  column-gap: 3rem;
  align-items: center;
}
.column-row .btn {
  box-shadow: none;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}
.heading-tertiary {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.column-row p {
  margin-bottom: 0;
  font-size: 1.5rem;
  padding: 0;
  grid-column: 2;
}
/* //////////////////////// */
/* Section customer */
/* //////////////////////// */
.section-customer {
  margin-bottom: 17rem;
}
.section-customer h2 {
  text-align: center;
}
.slider-section {
  overflow-x: auto;
}
.slider-section::-webkit-scrollbar {
  width: 0px;
}

.slider {
  max-width: 54rem;
  height: 31rem;
  margin-bottom: 4.5rem;
  position: relative;
}

.slide {
  border-radius: 5px;
  position: absolute;
  height: 31rem;
  top: 0;
  width: 100%;
}

.slide img {
  width: 7rem;
  transform: translate(23rem, 4rem);
}
.slide-content {
  background-color: var(--vl-gray);
  padding: 8rem 4rem;
  height: 24rem;
}
.slide h3,
.slide blockquote {
  text-align: center;
}
.slide blockquote {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--dkgrayish-blue);
}
/* //////////////////////// */
/* Section cta */
/* //////////////////////// */
.section-cta {
  background-color: var(--bright-red);
  padding: 7rem 0;
}
.cta {
  justify-items: end;
  align-items: center;
}
.section-cta h2 {
  color: #fff;
  font-size: 3.7rem;
}
.section-cta .btn {
  max-width: 14rem;
  height: fit-content;
  background-color: var(--vl-gray);
  color: var(--bright-red);
  font-weight: 500;
  box-shadow: none;
  cursor: pointer;
}

/* //////////////////////// */
/* Footer*/
/* //////////////////////// */
.footer {
  background-color: var(--dk-blue);
}
